<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.twobeone.remotehelper">

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <permission
        android:name="net.twobeone.remotehelper.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="net.twobeone.remotehelper.permission.C2D_MESSAGE" />

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppTheme.NoActionBar">

        <activity
            android:name=".ui.MainIntroActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppTheme.NoActionBar" />

        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait" />

        <!-- 내정보 -->
        <activity
            android:name=".ui.UserInfoActivity"
            android:label="@string/title_user_info"
            android:theme="@style/Theme.AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".ui.POISearchDialog"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog" />

        <!-- 지도(안전지대) -->
        <activity
            android:name=".ui.MapActivity"
            android:label="@string/title_safety_zone"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppTheme" />

        <!-- 권한설정 -->
        <activity android:name=".ui.PermissionActivity" />

        <!-- 도움말 -->
        <activity android:name=".ui.HelpActivity" />

        <!-- 설정 -->
        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/settings_activity_title"
            android:theme="@style/Theme.AppTheme" />

        <!-- 디바이스 점검 -->
        <activity
            android:name=".ui.TroublesActivity"
            android:label="@string/pref_app_troubles_title"
            android:theme="@style/Theme.AppTheme" />

        <!-- 설정변경리시버 -->
        <receiver android:name=".util.ProvidersChangedReceiver">
            <intent-filter>
                <action android:name="android.location.PROVIDERS_CHANGED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>


        <!--상담톡-->
        <activity
            android:name=".ui.ChatActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppTheme"  />

        <!-- GCM 메세지 -->
        <receiver
            android:name="net.twobeone.remotehelper.util.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="net.twobeone.remotehelper" />
            </intent-filter>
        </receiver>

        <service android:name="net.twobeone.remotehelper.util.GCMIntentService" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>
</manifest>
